body {
    font-family: Helvetica, sans-serif;
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    background-color: #000;
}

.nav__item {
padding: 10px;
}

.nav__item a {
    text-decoration: none;
    color: #FFF;
}

.hero {
    background-image: url(images/table-food.png);
    height: 90vh;
    background-size: cover;
    overflow: auto;
}

.sign {
    background-color: rgba(0, 0, 0, 0.8);
    width: 70vw;
    color: #FFF;
    margin: 0 auto;
    margin-top: 5em;
    position: relative;
    padding: 1em;
}

.testimonials {
    background-color: #000;
    color: #FFF;
    padding: 2rem 0;
    
}

.testimonials__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
}

.testimonials__photo {
    width: 7rem;
    border-radius: 50%;
}

.testimonials__list__testimonial__comment {
    font-style: italic;
}

.menu__heading {
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 600;
}

.menu__list {
    list-style: none;
}

.menu__list__item__description {
    font-weight: 300;
}

.restaurant-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5rem 10rem;
    background-color: #000;
    color: #FFF;
}

.restaurant-info address, p {
    text-align: left;
}